<section id="articles">
    <h2>Thought Leadership</h2>
    <div class="articles-grid">
        {{ range sort (where .Site.RegularPages "Type" "articles") "Params.weight" }}
        <div class="article-card">
            <h3><span class="emoji">{{ .Params.emoji }}</span>{{ .Title }}</h3>
            <time>{{ .Date.Format "January 2, 2006" }}</time>
            <p>{{ .Params.description }}</p>
            <a href="{{ .RelPermalink }}">Read More</a>
        </div>
        {{ end }}
    </div>
</section>